.vscode/
*.pyc
__pycache__/
.pytest_cache/
.DS_Store
.idea/
instance/*
*.log*
*.swp
*.json
*.xls
picture/*
idcard/*
instance/*
casebook/*
header/*
celerybeat-schedule
configs/development.py
.coverage
doc/_build/*